h1{
  font-size: 70px;
  color: #DBD2E0;
  text-decoration-line: overline underline;
  text-decoration-color: #7B904B;
}

body{
  background-color: #58641D;
  
}
img:hover{
  content:url('https://i5.walmartimages.com/seo/Fresh-Red-Delicious-Apple-Each_7320e63a-de46-4a16-9b8c-526e15219a12_3.e557c1ad9973e1f76f512b34950243a3.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF');
}
